*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Inter;
}

main{
    flex: 1; 
    user-select: none;
    margin: 100px;
}

.colunas{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.coluna{
    width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #383838;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tarefas{
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px transparent;
    margin-top: 10px;
    padding-bottom: 50px;
}

.tarefa{
    height: 40px;
    margin: 5px;
    background-color: #7c7c7c;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px transparent;
    padding: 5px;
}

.tarefa:hover{
    border: solid white 1px;
    cursor: grab;
}

.tarefa:hover button{
    display: block;
}

.remover_tarefa{
    display: none;
    background-color: transparent;
    font-size: 15px;
    color: white;
    border: none;
    
}

.gerenciar{
    display: flex;
    align-items: end;
    justify-content: center;
}

button {
    color: white;
    background-color: #383838;
    border: none;
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

.CriarnovaTarefa{
    width: 90%;
}

.CriarnovaTarefa:hover{
    background-color: #474747;
}

.coluna-destaque{
    border: solid 1px white;
}